/*

references:
https://meyerweb.com/eric/tools/css/reset/
https://www.joshwcomeau.com/css/custom-css-reset/
https://necolas.github.io/normalize.css/latest/normalize.css
https://elad.medium.com/the-new-css-reset-53f41f13282e
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
https://piccalil.li/blog/a-modern-css-reset/

*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}