$color_1: var(--body-color);
$color_2: var(--site-heading-color);
$color_5: var(--article-title-color);
$color_6: var(--article-title-hover-color);
$color_7: var(--accordion-title-marker-color);
$color_8: var(--accordion-title-hover-marker-color);
$color_9: var(--article-summary-color);
$color_10: var(--article-summary-hover-color);
$black: black;
$white: white;
$color_13: var(--footer-color);
$color_14: var(--footer-link-text);
$color_15: var(--footer-link-hover-color);
$font-family_1: var(--font-family-default);
$background-color_1: var(--body-bg);
$background-color_3: #008cba;
$border-color_1: var(--article-summary-hover-color);

:root {
  --base00: #fdf6e3;
  --base01: #eee8d5;
  --base02: #93a1a1;
  --base03: #839496;
  --base04: #657b83;
  --base05: #586e75;
  --base06: #eee8d5;
  --base07: #002b36;
  --base08: #dc322f;
  --base09: #cb4b16;
  --base0a: #b58900;
  --base0b: #859900;
  --base0c: #2aa198;
  --base0d: #268bd2;
  --base0e: #6c71c4;
  --base0f: #d33682;

  --font-family-default: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-size-scaler: 72.5%;
  --font-size-m: 1.6rem;
  --font-size-s: 1.4rem;
  --font-size-l: 1.2rem;
  --body-color: var(--base07);
  --body-bg: var(--base01);
  --site-heading-color: var(--base04);
  --source-name-color: var(--base0d);
  --source-name-hover-color: var(--base0d);
  --article-title-color: var(--base05);
  --article-title-hover-color: var(--base0E);
  --article-summary-color: var(--base04);
  --article-summary-hover-color: var(--base0d);
  --accordion-content-rail-color: var(--base01);
  --accordion-content-hover-rail-color: var(--base0d);
  --accordion-title-marker-color: var(--base01);
  --accordion-title-hover-marker-color: var(--base0E);
  --card-bg: var(--base00);
  --card-shadow: none;
  --card-radius: 0;
  --footer-link-hover-color: var(--base0d);
}

:root.dark {
  --base00: #002b36;
  --base01: #073642;
  --base02: #586e75;
  --base03: #657b83;
  --base04: #839496;
  --base05: #93a1a1;
  --base06: #073642;
  --base07: #fdf6e3;
  --base08: #dc322f;
  --base09: #cb4b16;
  --base0a: #b58900;
  --base0b: #859900;
  --base0c: #2aa198;
  --base0d: #268bd2;
  --base0e: #6c71c4;
  --base0f: #d33682;
  --source-name-color: var(--base0c);
}

html {
  font-size: var(--font-size-scaler);
}

body {
  background-color: $background-color_1;
  font-family: $font-family_1;
  color: $color_1;
  margin: 0;
  padding: 16px;
  overflow-wrap: break-word;
}

:not(:focus-visible) {
  outline: none;
}

header {
  menu > a {
    color: var(--base07);
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    right: 100px;
    top: 10px;
  }
  p {
    font-size: 17px;
    margin: 10px 0;
  }
  .list {
    display: flex;
    width: 100%;
    border: 1px solid black;
    a {
      flex: 1;
      margin: 5px;
      display: grid;
      place-items: center;
      color: var(--base07);
      text-decoration: none;
      span {
        border-top: 1px solid black;
        margin-top: 10px;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.card {
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  background: var(--card-bg);
}

.sources {
  padding: 12px 16px;
  list-style: none;
  margin: 0;
  display: grid;
  gap: 16px;
}

.site-content {
  margin: 10px 0;
}

.site-expander {
  .flex-container {
    display: flex;
    margin: -1.7em 0 0 0.9em;
    .site-heading {
      font-size: var(--font-size-s);
      color: var(--site-heading-color);
    }
    .site-heading-url {
      margin: 0.3em 0 0 1em;
      color: var(--site-heading-color);
      text-decoration: none;
      &:hover {
        color: var(--source-name-hover-color);
        text-decoration: underline;
      }
    }
  }
}

.source {
  display: grid;
  gap: 4px;
}

.source-name {
  font-size: var(--font-size-s);
  font-weight: 400;
  margin: 0;
}

.source-name__link {
  color: var(--source-name-color);
  text-decoration: none;
  &:hover {
    color: var(--source-name-hover-color);
    text-decoration: underline;
  }
}

.article-expander {
  padding: 2px 4px;
  border-radius: 4px;
}

.article-expander__title {
  color: $color_5;
  font-size: var(--font-size-m);
  font-weight: 600;
  &:hover {
    cursor: pointer;
    color: $color_6;
    &::marker {
      color: $color_8;
    }
  }
  &::marker {
    color: $color_7;
  }
}

.article-summary-link {
  color: $color_9;
  font-size: var(--font-size-s);
  text-decoration: none;
  &:hover {
    color: $color_10;
    --accordion-content-rail-color: var(--accordion-content-hover-rail-color);
  }
}

.article-summary-box-outer {
  display: block;
  padding: 4px 8px 8px 4px;
}

.article-summary-box-inner {
  padding-left: 8px;
  border-left: 1px solid var(--accordion-content-rail-color);
}

article {
  .summary-description {
    font-size: var(--font-size-l);
  }
  a {
    text-decoration: none;
    color: $color_9;
    display: inline-block;
    padding: 0.6em 0.8em;
    border-radius: 4px;
    &:hover {
      color: $color_1;
    }
  }
}

.toggle {
  position: fixed;
  bottom: 2rem;
  right: 2.7rem;
  color: var(--base07);
  background-color: var(--base06);
  border: none;
  cursor: pointer;
}

.toggle-details {
  position: fixed;
  bottom: 2rem;
  right: 0;
  color: var(--base07);
  background-color: var(--base06);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  header {
    .list {
      display: grid;
      grid-template-columns: auto;
    }
  }
  .toggle {
    right: 0;
    bottom: 4.6rem;
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
    border-top: .1rem solid #ff6550;
    border-right: .1rem solid #ff6550;
    border-left: .1rem solid #ff6550;
  }
  .toggle-details {
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 15rem;
    border-right: .1rem solid #ff6550;
    border-bottom: .1rem solid #ff6550;
    border-left: .1rem solid #ff6550;
  }
}
