:root {
  /**
   * Solarized Light
   * Ethan Schoonover (modified by aramisgithub)
   */
  --base00: #fdf6e3;
  --base01: #eee8d5;
  --base02: #93a1a1;
  --base03: #839496;
  --base04: #657b83;
  --base05: #586e75;
  --base06: #073642;
  --base07: #002b36;
  --base08: #dc322f;
  --base09: #cb4b16;
  --base0A: #b58900;
  --base0B: #859900;
  --base0C: #2aa198;
  --base0D: #268bd2;
  --base0E: #6c71c4;
  --base0F: #d33682;

  /**
   * Typograph
   */
  --font-family-default: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-size-scaler: 72.5%; /* 1rem = 10px */
  --font-size-m: 1.6rem;
  --font-size-s: 1.4rem;
  --font-size-l: 1.2rem;

  /**
   * Components
   */
  --body-color: var(--base07);
  --body-bg: var(--base01);

  --daily-heading-color: var(--base04);

  --source-name-color: var(--base0D);
  --source-name-hover-color: var(--base0D);

  --article-title-color: var(--base05);
  --article-title-hover-color: var(--base0E);
  --article-summary-color: var(--base04);
  --article-summary-hover-color: var(--base0D);

  --accordion-content-rail-color: var(--base01);
  --accordion-content-hover-rail-color: var(--base0D);
  --accordion-title-marker-color: var(--base01);
  --accordion-title-hover-marker-color: var(--base0E);

  --card-bg: var(--base00);
  --card-shadow: none;
  --card-radius: 0;
  --footer-link-hover-color: var(--base0D);
}

html {
  font-size: var(--font-size-scaler);
}

html.dark {
  /**
       * Solarized Dark
       * Ethan Schoonover (modified by aramisgithub)
       */
  --base00: #002b36;
  --base01: #073642;
  --base02: #586e75;
  --base03: #657b83;
  --base04: #839496;
  --base05: #93a1a1;
  --base06: #eee8d5;
  --base07: #fdf6e3;
  --base08: #dc322f;
  --base09: #cb4b16;
  --base0A: #b58900;
  --base0B: #859900;
  --base0C: #2aa198;
  --base0D: #268bd2;
  --base0E: #6c71c4;
  --base0F: #d33682;

  /**
   * Components
   */
  --source-name-color: var(--base0C);
}

body {
  background-color: var(--body-bg);
  font-family: var(--font-family-default);
  color: var(--body-color);
  margin: 0;
  gap: 24px;
  padding: 16px;
  overflow-wrap: break-word;
}

:not(:focus-visible) {
  outline: none;
}

header {
  font-size: 2rem;
}

.card {
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  background: var(--card-bg);
}

.sources {
  padding: 12px 16px;
  list-style: none;
  margin: 0;
  display: grid;
  gap: 16px;
}

.daily-heading {
  font-size: var(--font-size-s);
  font-weight: 600;
  margin: 0 0 8px 0;
  padding-left: 16px;
  color: var(--daily-heading-color);
}

.source {
  display: grid;
  gap: 4px;
}

.source-name {
  font-size: var(--font-size-s);
  font-weight: 400;
  margin: 0;
}
.source-name__link {
  color: var(--source-name-color);
  text-decoration: none;
}
.source-name__link:hover {
  color: var(--source-name-hover-color);
  text-decoration: underline;
}

.article-expander {
  padding: 2px 4px;
  border-radius: 4px;
}

.article-expander__title {
  color: var(--article-title-color);
  font-size: var(--font-size-m);
  font-weight: 600;
}
.article-expander__title:hover {
  cursor: pointer;
  color: var(--article-title-hover-color);
}
.article-expander__title::marker {
  color: var(--accordion-title-marker-color);
}
.article-expander__title:hover::marker {
  color: var(--accordion-title-hover-marker-color);
}

.article-summary-link {
  color: var(--article-summary-color);
  font-size: var(--font-size-s);
  text-decoration: none;
}

.article-summary-link:hover {
  color: var(--article-summary-hover-color);
  --accordion-content-rail-color: var(--accordion-content-hover-rail-color);
}

.article-summary-box-outer {
  display: block;
  padding: 4px 8px 8px 4px;
}

.article-summary-box-inner {
  padding-left: 8px;
  border-left: 1px solid var(--accordion-content-rail-color);
}

article .summary-description {
  font-size: var(--font-size-l);
}

.button a {
  font-size: var(--font-size-l);
  text-decoration: none;
  border: 1px solid var(--article-summary-color);
  color: var(--article-summary-color);
  display: inline-block;
  margin-top: 8px;
  padding: 2px 8px;
  border-radius: 4px;
  justify-self: start;
}

.button a:hover {
  border-color: var(--article-summary-hover-color);
  color: var(--body-color);
}

.toggle {
  color: black;
  background: transparent;
  background-color: white;
  border: 1px solid #0099cc;
  border-radius: 10px;
  padding: 1px 3px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width: 200px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.toggle:hover {
  color: white;
  background-color: #008cba;
}

footer {
  color: var(--footer-color);
  font-size: var(--font-size-s);
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
}

.footer-link {
  color: var(--footer-link-text);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--footer-link-hover-color);
  text-decoration: underline;
}
